@using Microsoft.AspNetCore.Http;
@using Magazedia;
@using Magazedia.Web.Pages;
@inject IHttpContextAccessor HttpContextAccessor;
@inject IStringLocalizer<SharedResource> stringLocalizer;
@inject IHtmlLocalizer<SharedResource> htmlLocalizer;
@{
	HostString Hostname = HttpContextAccessor.HttpContext!.Request.Host;
}
<!DOCTYPE html>
<html lang="@Helpers.GetCultureFromHostname(Hostname.Host, "en")" dir="@Helpers.GetTextDirectionFromHostname(Hostname.Host, "en")">
<head>
	<meta charset="utf-8" />
	@{
		if (Model.GetType().IsSubclassOf(typeof(BasePageModel)))
		{
			BasePageModel PageModel = (BasePageModel)Model;

			if (PageModel != null)
			{
				if (!String.IsNullOrWhiteSpace(PageModel.MetaDescription))
				{
					<meta name="description" content="@((Model as BasePageModel)?.MetaDescription)" />
				}

				if (!PageModel.AllowSearchEngineIndexing)
				{
					<meta name="robots" content="noindex">
				}
			}

		}
	}
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewBag.Title - Magazedia</title>
	@await RenderSectionAsync("ArticleLanguageLinksLinkRelAlternates", required: false)
	<link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
	<link rel="manifest" href="~/site.webmanifest">
	<link rel="stylesheet" href="~/css/variables.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/wikiwikiworld.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/@(Helpers.GetCultureFromHostname(Hostname.Host, "en")).css" asp-append-version="true" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	@*	<link href="https://fonts.googleapis.com/css2?family=Sora:wght@800&family=Ubuntu:ital,wght@1,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">*@
	<script async src="https://analytics.umami.is/script.js" data-website-id="2681fe66-d481-4722-9df1-b50b7aa0010c"></script>
</head>
<body>
	<header>
		<nav>
			<!-- Left navigation items -->
			<ul class="nav-left">
				<li><a href="#">SEARCH</a></li>
				<li><a href="#">ABOUT</a></li>
			</ul>

			<!-- Centered logo -->
			<div class="logo">
				<a href="/">
					<svg class="logo-svg" style="height: 4rem;margin-left:-3rem;" viewBox="1 -57 55 58"><path fill="#3f1" d="M1.51-14.11L11.88-55.51L13.39-54.00L3.10-12.53L1.51-14.11ZM33.55-20.45L53.06-43.06L54.65-41.47L44.28 0L42.70-1.58L51.84-38.23L49.10-35.06L41.11-3.17L39.60-4.68L46.37-31.90L43.63-28.73L38.02-6.26L36.43-7.85L40.82-25.49L38.16-22.39L34.92-9.36L33.34-10.94L35.35-19.22L34.42-18.07L33.41-19.01L31.75-12.53L30.17-14.11L31.82-20.66L32.76-19.73L25.56-39.89L25.13-38.23L31.32-21.17L29.74-22.75L24.70-36.58L24.34-34.92L28.15-24.34L26.64-25.85L23.90-33.34L23.47-31.75L25.06-27.43L23.47-29.02L23.11-30.10L15.62 0L14.04-1.58L24.41-42.98L25.92-41.47L26.64-39.46L40.61-55.51L42.12-54.00L27.50-37.01L28.37-34.70L43.70-52.42L45.22-50.90L29.23-32.33L30.10-29.95L46.80-49.32L48.38-47.74L30.96-27.58L31.82-25.13L49.90-46.22L51.48-44.64L32.69-22.82L33.55-20.45ZM4.61-11.02L14.98-52.42L16.56-50.83L6.19-9.43L4.61-11.02ZM7.78-7.85L18.14-49.25L19.66-47.74L9.36-6.26L7.78-7.85ZM10.87-4.75L21.24-46.15L22.82-44.57L12.46-3.17L10.87-4.75Z" /></svg>
				</a>
			</div>

			<!-- Right navigation items -->
			<partial name="_LoginPartial" />
		</nav>
	</header>
	<div>
		<main role="main">
			@RenderBody()
		</main>
	</div>
	<div style="clear: both;"></div>
	<footer class="border-top footer text-muted">
		<div class="container">
			<p>
				Content is available under <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a> unless otherwise noted.<br />
				&copy; 2023 Magazedia - <a href="/dmca:">Copyright & DMCA </a> / <a href="/terms:">Terms of Use</a> / <a href="/privacy-policy:">Privacy Policy</a>
				<a href="https://en.@Helpers.GetDomainAndPortFromHostname(Hostname.ToString())/">en</a> /
				<a href="https://ja.@Helpers.GetDomainAndPortFromHostname(Hostname.ToString())/">ja</a> /
				<a href="https://ar.@Helpers.GetDomainAndPortFromHostname(Hostname.ToString())/">ar</a> /
				<a href="https://en.@Helpers.GetDomainAndPortFromHostname(Hostname.ToString())/category:magazines">All magazines</a> /
				<a href="https://en.@Helpers.GetDomainAndPortFromHostname(Hostname.ToString())/category:magazine-issues">All magazine issues</a> /
				@if (this.User != null && this.User.Identity != null && this.User.Identity.IsAuthenticated && this.User.Identity.Name == "QINGCHARLES")
				{
					@: <a href="https://xx-test.@Helpers.GetDomainAndPortFromHostname(Hostname.ToString())/">xx</a> / <a href="/DbHelper">DbHelper</a>
				}
			</p>
		</div>
	</footer>
	@*
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	*@
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
