@using Microsoft.AspNetCore.Http;
@using Magazedia;
@using Magazedia.Web.Pages;
@inject IHttpContextAccessor HttpContextAccessor;
@inject IStringLocalizer<SharedResource> stringLocalizer;
@inject IHtmlLocalizer<SharedResource> htmlLocalizer;
@{
	HostString Hostname = HttpContextAccessor.HttpContext!.Request.Host;
}
<!DOCTYPE html>
<html lang="@Helpers.GetCultureFromHostname(Hostname.Host, "en")" dir="@Helpers.GetTextDirectionFromHostname(Hostname.Host, "en")">
<head>
	<meta charset="utf-8" />
	@{
		if (!String.IsNullOrWhiteSpace((Model as BasePageModel)?.MetaDescription))
		{
			<meta name="description" content="@((Model as BasePageModel)?.MetaDescription)" />
		}
	}
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewBag.Title - Magazedia</title>
	@await RenderSectionAsync("ArticleLanguageLinksLinkRelAlternates", required: false)
	<link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
	<link rel="manifest" href="~/site.webmanifest">
	<link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="~/css/wikiwikiworld.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/@(Helpers.GetCultureFromHostname(Hostname.Host, "en")).css" asp-append-version="true" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Sora:wght@800&family=Ubuntu:ital,wght@1,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<nav class="" style="width:100%;padding:1rem 10rem 0;max-width:70rem;margin:0 auto;">
			<div class="beee">
				<a class="navbar-brand p10" asp-area="" asp-page="/Index"><svg style="height: 4rem;" viewBox="1 -57 55 58"><path fill="#3f1" d="M1.51-14.11L11.88-55.51L13.39-54.00L3.10-12.53L1.51-14.11ZM33.55-20.45L53.06-43.06L54.65-41.47L44.28 0L42.70-1.58L51.84-38.23L49.10-35.06L41.11-3.17L39.60-4.68L46.37-31.90L43.63-28.73L38.02-6.26L36.43-7.85L40.82-25.49L38.16-22.39L34.92-9.36L33.34-10.94L35.35-19.22L34.42-18.07L33.41-19.01L31.75-12.53L30.17-14.11L31.82-20.66L32.76-19.73L25.56-39.89L25.13-38.23L31.32-21.17L29.74-22.75L24.70-36.58L24.34-34.92L28.15-24.34L26.64-25.85L23.90-33.34L23.47-31.75L25.06-27.43L23.47-29.02L23.11-30.10L15.62 0L14.04-1.58L24.41-42.98L25.92-41.47L26.64-39.46L40.61-55.51L42.12-54.00L27.50-37.01L28.37-34.70L43.70-52.42L45.22-50.90L29.23-32.33L30.10-29.95L46.80-49.32L48.38-47.74L30.96-27.58L31.82-25.13L49.90-46.22L51.48-44.64L32.69-22.82L33.55-20.45ZM4.61-11.02L14.98-52.42L16.56-50.83L6.19-9.43L4.61-11.02ZM7.78-7.85L18.14-49.25L19.66-47.74L9.36-6.26L7.78-7.85ZM10.87-4.75L21.24-46.15L22.82-44.57L12.46-3.17L10.87-4.75Z" /></svg>
Magazedia</a>
				<partial name="_LoginPartial" />
@*				<a class="navbar-brand" asp-area="" asp-page="/Index"><svg style="background: #f000; height: 5rem; width: 100%; padding: 0em; box-sizing: border-box;" viewBox="1 -57 370 59"><path fill="#0f0" d="M1.51-14.11L11.88-55.51L13.39-54.00L3.10-12.53L1.51-14.11ZM33.55-20.45L53.06-43.06L54.65-41.47L44.28 0L42.70-1.58L51.84-38.23L49.10-35.06L41.11-3.17L39.60-4.68L46.37-31.90L43.63-28.73L38.02-6.26L36.43-7.85L40.82-25.49L38.16-22.39L34.92-9.36L33.34-10.94L35.35-19.22L34.42-18.07L33.41-19.01L31.75-12.53L30.17-14.11L31.82-20.66L32.76-19.73L25.56-39.89L25.13-38.23L31.32-21.17L29.74-22.75L24.70-36.58L24.34-34.92L28.15-24.34L26.64-25.85L23.90-33.34L23.47-31.75L25.06-27.43L23.47-29.02L23.11-30.10L15.62 0L14.04-1.58L24.41-42.98L25.92-41.47L26.64-39.46L40.61-55.51L42.12-54.00L27.50-37.01L28.37-34.70L43.70-52.42L45.22-50.90L29.23-32.33L30.10-29.95L46.80-49.32L48.38-47.74L30.96-27.58L31.82-25.13L49.90-46.22L51.48-44.64L32.69-22.82L33.55-20.45ZM4.61-11.02L14.98-52.42L16.56-50.83L6.19-9.43L4.61-11.02ZM7.78-7.85L18.14-49.25L19.66-47.74L9.36-6.26L7.78-7.85ZM10.87-4.75L21.24-46.15L22.82-44.57L12.46-3.17L10.87-4.75ZM50.69-14.11L75.53-56.45L77.11-54.86L52.27-12.53L50.69-14.11ZM53.78-11.02L78.62-53.35L80.21-51.77L55.37-9.43L53.78-11.02ZM56.95-7.85L81.79-50.18L83.38-48.60L58.54-6.26L56.95-7.85ZM60.05-4.75L84.89-47.09L86.47-45.50L61.63-3.17L60.05-4.75ZM93.31 0L91.73-1.58L90.72-13.46L89.28-13.46L90.14-3.17L88.56-4.75L87.84-13.46L86.40-13.46L87.05-6.26L85.46-7.85L84.96-13.46L83.59-13.46L83.88-9.43L82.37-10.94L82.15-13.46L80.71-13.46L80.78-12.53L79.85-13.46L72.65-13.46L64.80 0L63.22-1.58L88.06-43.92L89.57-42.41L93.31 0ZM74.45-16.56L73.51-14.98L90.58-14.98L88.34-40.32L87.12-38.23L88.99-16.56L74.45-16.56ZM84.60-33.91L85.90-19.66L76.25-19.66L75.38-18.14L87.41-18.14L85.90-36.07L84.60-33.91ZM82.15-29.66L82.73-22.82L78.12-22.82L77.18-21.24L84.31-21.24L83.38-31.82L82.15-29.66ZM78.98-24.34L81.14-24.34L80.86-27.50L78.98-24.34ZM121.25-53.57L121.25-53.57L122.83-51.98Q120.38-54.43 115.78-54.43L115.78-54.43Q102.31-54.43 97.06-33.19L97.06-33.19Q95.54-27.07 95.54-22.68L95.54-22.68Q95.54-16.99 98.28-14.26L98.28-14.26L96.70-15.84Q93.96-18.58 93.96-24.34L93.96-24.34Q93.96-28.66 95.47-34.70L95.47-34.70Q100.80-56.02 114.26-56.02L114.26-56.02Q118.80-56.02 121.25-53.57ZM124.34-50.47L124.34-50.47L125.93-48.89Q123.48-51.34 118.94-51.34L118.94-51.34Q105.48-51.34 100.15-30.02L100.15-30.02Q98.64-23.98 98.64-19.66L98.64-19.66Q98.64-13.90 101.38-11.16L101.38-11.16L99.79-12.74Q97.06-15.48 97.06-21.17L97.06-21.17Q97.06-25.27 98.64-31.61L98.64-31.61Q103.82-52.85 117.36-52.85L117.36-52.85Q121.97-52.85 124.34-50.47ZM127.51-47.30L127.51-47.30L129.02-45.79Q126.65-48.17 122.04-48.17L122.04-48.17Q108.58-48.17 103.32-26.93L103.32-26.93Q101.81-20.74 101.81-16.42L101.81-16.42Q101.81-10.73 104.47-8.06L104.47-8.06L102.96-9.58Q100.22-12.31 100.22-18.07L100.22-18.07Q100.22-22.32 101.74-28.51L101.74-28.51Q106.99-49.75 120.53-49.75L120.53-49.75Q125.06-49.75 127.51-47.30ZM130.61-44.21L130.61-44.21L132.19-42.62Q129.74-45.07 125.21-45.07L125.21-45.07Q111.67-45.07 106.42-23.83L106.42-23.83Q104.90-17.71 104.90-13.46L104.90-13.46Q104.90-7.63 107.64-4.90L107.64-4.90L106.06-6.48Q103.32-9.22 103.32-14.98L103.32-14.98Q103.32-19.30 104.83-25.34L104.83-25.34Q110.16-46.66 123.62-46.66L123.62-46.66Q128.16-46.66 130.61-44.21ZM133.70-41.11L133.70-41.11L135.29-39.53Q136.87-37.87 137.38-35.93L137.38-35.93L135.79-37.51Q135.36-39.17 134.42-40.25L134.42-40.25Q133.78-40.75 133.56-40.82L133.56-40.82Q133.99-40.03 134.21-39.10L134.21-39.10L132.70-40.61L132.41-41.33Q130.68-41.98 128.30-41.98L128.30-41.98Q114.91-41.98 109.58-20.66L109.58-20.66Q108.58-16.85 108.29-13.82L108.29-13.82Q113.33-14.83 116.35-17.86L116.35-17.86L118.15-24.84L119.38-23.62L125.57-23.62L127.15-22.03L120.96-22.03L119.66-23.33L117.94-16.34Q114.12-12.53 108.14-12.02L108.14-12.02L108.07-10.37Q115.49-10.73 119.52-14.76L119.52-14.76L121.25-21.74L122.54-20.45L128.74-20.45L130.25-18.94L124.06-18.94L122.83-20.16L121.10-13.18Q116.71-8.78 108.36-8.78L108.36-8.78L108.14-8.78Q108.14-8.50 108.29-7.34L108.29-7.34Q109.58-7.20 109.87-7.20L109.87-7.20Q118.15-7.20 122.62-11.66L122.62-11.66L124.34-18.65L125.64-17.35L131.83-17.35L133.42-15.77L130.46-3.82Q126.07 0.58 117.72 0.58L117.72 0.58Q113.18 0.58 110.74-1.80L110.74-1.80L109.15-3.38Q106.42-6.12 106.42-11.81L106.42-11.81Q106.42-15.91 108.00-22.25L108.00-22.25Q113.26-43.49 126.72-43.49L126.72-43.49Q131.33-43.49 133.70-41.11ZM114.70-28.30L113.18-29.81L119.38-29.81L120.89-28.30L114.70-28.30ZM122.47-26.71L124.06-25.13L117.86-25.13L116.28-26.71L122.47-26.71ZM127.58-15.77L127.22-15.77L125.93-17.06L124.20-10.08Q119.81-5.69 111.46-5.69L111.46-5.69Q109.58-5.69 108.50-5.98L108.50-5.98Q108.72-5.40 108.94-4.75L108.94-4.75Q110.66-4.10 113.04-4.10L113.04-4.10Q121.39-4.10 125.78-8.50L125.78-8.50L127.58-15.77ZM128.88-5.40L128.88-5.40L131.47-15.77L129.53-15.77L127.30-6.98Q122.83-2.52 114.55-2.52L114.55-2.52Q111.46-2.52 109.44-3.67L109.44-3.67Q109.51-3.53 110.02-2.66L110.02-2.66Q112.32-1.01 116.14-1.01L116.14-1.01Q124.49-1.01 128.88-5.40ZM135.14-14.11L159.98-56.45L161.57-54.86L136.73-12.53L135.14-14.11ZM138.24-11.02L163.08-53.35L164.66-51.77L139.82-9.43L138.24-11.02ZM141.41-7.85L166.25-50.18L167.83-48.60L142.99-6.26L141.41-7.85ZM144.50-4.75L169.34-47.09L170.93-45.50L146.09-3.17L144.50-4.75ZM177.77 0L176.18-1.58L175.18-13.46L173.74-13.46L174.60-3.17L173.02-4.75L172.30-13.46L170.86-13.46L171.50-6.26L169.92-7.85L169.42-13.46L168.05-13.46L168.34-9.43L166.82-10.94L166.61-13.46L165.17-13.46L165.24-12.53L164.30-13.46L157.10-13.46L149.26 0L147.67-1.58L172.51-43.92L174.02-42.41L177.77 0ZM158.90-16.56L157.97-14.98L175.03-14.98L172.80-40.32L171.58-38.23L173.45-16.56L158.90-16.56ZM169.06-33.91L170.35-19.66L160.70-19.66L159.84-18.14L171.86-18.14L170.35-36.07L169.06-33.91ZM166.61-29.66L167.18-22.82L162.58-22.82L161.64-21.24L168.77-21.24L167.83-31.82L166.61-29.66ZM163.44-24.34L165.60-24.34L165.31-27.50L163.44-24.34ZM211.82-55.51L213.34-54.00L190.94-54.00L189.43-55.51L211.82-55.51ZM216.50-50.83L194.11-50.83L192.53-52.42L214.92-52.42L216.50-50.83ZM219.60-47.74L197.21-47.74L195.62-49.32L218.02-49.32L219.60-47.74ZM222.70-44.64L200.30-44.64L198.79-46.15L221.18-46.15L222.70-44.64ZM194.62-3.10L193.39-1.58L214.63-1.58L216.22 0L192.10 0L190.51-1.58L222.98-41.47L220.10-41.47L188.93-3.17L187.34-4.75L217.30-41.47L214.49-41.47L185.83-6.26L184.25-7.85L211.61-41.47L208.87-41.47L182.66-9.43L181.08-11.02L205.99-41.47L203.47-41.47L203.26-41.69L179.57-12.53L177.98-14.11L201.74-43.20L201.89-43.06L224.28-43.06L225.86-41.47L202.90-13.32L203.76-12.46L202.25-12.46L201.02-10.94L205.27-10.94L206.86-9.36L199.73-9.36L198.43-7.78L208.37-7.78L209.88-6.34L197.28-6.34L195.91-4.68L211.54-4.68L213.12-3.10L194.62-3.10ZM253.87-55.51L255.38-54.00L232.99-54.00L222.70-12.46L221.11-14.04L231.48-55.51L253.87-55.51ZM256.97-52.42L258.55-50.83L236.16-50.83L225.79-9.36L224.21-10.94L234.58-52.42L256.97-52.42ZM260.06-49.32L261.65-47.74L239.26-47.74L228.96-6.19L227.38-7.78L237.74-49.32L260.06-49.32ZM263.23-46.15L264.74-44.64L242.42-44.64L232.06-3.10L230.47-4.68L240.84-46.15L263.23-46.15ZM259.63-23.18L261.22-21.60L240.55-21.60L238.68-14.04L243.50-14.04L245.09-12.46L238.25-12.46L237.89-10.94L246.60-10.94L248.18-9.36L237.53-9.36L237.10-7.78L249.77-7.78L251.28-6.26L236.74-6.26L236.30-4.68L252.86-4.68L254.45-3.10L235.94-3.10L235.58-1.58L255.96-1.58L257.54 0L235.15 0L233.57-1.58L244.01-43.06L266.33-43.06L267.91-41.47L245.52-41.47L244.08-35.64L247.18-35.64L248.69-34.13L243.72-34.13L243.29-32.54L250.27-32.54L251.86-30.96L242.93-30.96L242.50-29.45L253.37-29.45L254.95-27.86L242.14-27.86L241.70-26.28L256.54-26.28L258.05-24.77L241.34-24.77L240.98-23.18L259.63-23.18ZM282.60-54.00L282.60-54.00L274.82-54.00L264.46-12.53L262.87-14.11L273.24-55.51L281.02-55.51Q286.99-55.51 289.66-52.85L289.66-52.85L291.24-51.26Q288.50-54.00 282.60-54.00ZM285.70-50.83L285.70-50.83L277.92-50.83L267.55-9.43L266.04-10.94L276.34-52.42L284.18-52.42Q290.09-52.42 292.82-49.68L292.82-49.68L294.34-48.17Q291.67-50.83 285.70-50.83ZM288.86-47.74L288.86-47.74L281.09-47.74L270.72-6.26L269.14-7.85L279.50-49.32L287.28-49.32Q293.18-49.32 295.92-46.58L295.92-46.58L297.50-45.00Q294.77-47.74 288.86-47.74ZM291.96-44.64L291.96-44.64L284.18-44.64L273.82-3.17L272.30-4.68L282.60-46.15L290.45-46.15Q296.35-46.15 299.02-43.49L299.02-43.49L300.60-41.90Q297.86-44.64 291.96-44.64ZM302.18-40.32L302.18-40.32L303.77-38.81Q306.29-36.14 306.29-30.89L306.29-30.89Q306.29-27.07 304.85-20.74L304.85-20.74Q302.11-9.79 297.40-4.90Q292.68 0 284.76 0L284.76 0L276.98 0L275.40-1.58L285.77-43.06L293.54-43.06Q299.45-43.06 302.18-40.32ZM280.51-14.18L280.51-14.18L279.94-11.81Q285.05-13.46 288.40-18.25Q291.74-23.04 293.90-31.68L293.90-31.68Q295.34-37.80 295.34-41.47L295.34-41.47L295.13-41.47L293.69-41.47Q293.47-37.44 292.32-33.19L292.32-33.19Q288.58-18.22 280.51-14.18ZM292.03-41.47L292.03-41.47L287.35-41.47L281.23-17.14Q287.50-21.82 290.74-34.78L290.74-34.78Q291.74-38.66 292.03-41.47ZM279.43-9.72L279.43-9.72L278.93-7.92Q285.84-8.50 290.12-13.39Q294.41-18.29 297-28.51L297-28.51Q298.51-34.56 298.51-38.66L298.51-38.66Q298.51-39.10 298.37-41.26L298.37-41.26L296.93-41.40L296.93-40.25Q296.93-36.00 295.42-30.10L295.42-30.10Q293.04-20.59 289.22-15.70Q285.41-10.80 279.43-9.72ZM278.57-6.26L278.57-6.26L278.14-4.68L280.08-4.68Q288-4.68 292.72-9.58Q297.43-14.47 300.17-25.42L300.17-25.42Q301.61-31.75 301.61-35.57L301.61-35.57Q301.61-38.45 300.82-40.61L300.82-40.61Q300.38-40.82 299.66-40.97L299.66-40.97Q300.02-38.81 300.02-37.08L300.02-37.08Q300.02-33.34 298.58-27.00L298.58-27.00Q295.85-16.13 291.10-11.20Q286.34-6.26 278.57-6.26ZM281.66-3.10L277.78-3.10L277.42-1.58L283.18-1.58Q291.10-1.58 295.81-6.48Q300.53-11.38 303.26-22.32L303.26-22.32Q304.78-28.73 304.78-32.40L304.78-32.40Q304.78-36.79 302.90-39.53L302.90-39.53Q302.83-39.60 301.97-40.10L301.97-40.10Q303.19-37.51 303.19-33.98L303.19-33.98Q303.19-29.81 301.68-23.90L301.68-23.90Q299.02-13.03 294.30-8.06Q289.58-3.10 281.66-3.10L281.66-3.10ZM306.07-14.04L316.44-55.51L317.95-54.00L307.66-12.46L306.07-14.04ZM309.17-10.94L319.54-52.42L321.12-50.83L310.75-9.36L309.17-10.94ZM312.34-7.78L322.70-49.25L324.22-47.74L313.92-6.19L312.34-7.78ZM315.43-4.68L325.80-46.15L327.38-44.57L317.02-3.10L315.43-4.68ZM318.53-1.58L328.97-42.98L330.48-41.47L320.11 0L318.53-1.58ZM326.52-14.11L351.36-56.45L352.94-54.86L328.10-12.53L326.52-14.11ZM329.62-11.02L354.46-53.35L356.04-51.77L331.20-9.43L329.62-11.02ZM332.78-7.85L357.62-50.18L359.21-48.60L334.37-6.26L332.78-7.85ZM335.88-4.75L360.72-47.09L362.30-45.50L337.46-3.17L335.88-4.75ZM369.14 0L367.56-1.58L366.55-13.46L365.11-13.46L365.98-3.17L364.39-4.75L363.67-13.46L362.23-13.46L362.88-6.26L361.30-7.85L360.79-13.46L359.42-13.46L359.71-9.43L358.20-10.94L357.98-13.46L356.54-13.46L356.62-12.53L355.68-13.46L348.48-13.46L340.63 0L339.05-1.58L363.89-43.92L365.40-42.41L369.14 0ZM350.28-16.56L349.34-14.98L366.41-14.98L364.18-40.32L362.95-38.23L364.82-16.56L350.28-16.56ZM360.43-33.91L361.73-19.66L352.08-19.66L351.22-18.14L363.24-18.14L361.73-36.07L360.43-33.91ZM357.98-29.66L358.56-22.82L353.95-22.82L353.02-21.24L360.14-21.24L359.21-31.82L357.98-29.66ZM354.82-24.34L356.98-24.34L356.69-27.50L354.82-24.34Z" /></svg></a>
*@
@*				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link" asp-area="" asp-page="/Index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/create-article:">Create Article</a>
						</li>
					</ul>
				<partial name="_LoginPartial" />
				</div>*@
			</div>
		</nav>
	</header>
	<div fclass="container">
		<main role="main" fclass="pb-3">
			@RenderBody()
		</main>
	</div>
	<div style="clear: both;"></div>
	<footer class="border-top footer text-muted">
		<div class="container">
			<p>
				Content is available under <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a> unless otherwise noted.<br />
				&copy; 2023 Magazedia - <a href="/dmca:">Copyright & DMCA </a> / <a href="/terms:">Terms of Use</a> / <a href="/privacy-policy:">Privacy Policy</a>
					<a href="https://en.@Helpers.GetDomainAndPortFromHostname(Hostname.ToString())/">en</a> /
					<a href="https://ja.@Helpers.GetDomainAndPortFromHostname(Hostname.ToString())/">ja</a> /
					<a href="https://ar.@Helpers.GetDomainAndPortFromHostname(Hostname.ToString())/">ar</a> /
					<a href="https://xx-test.@Helpers.GetDomainAndPortFromHostname(Hostname.ToString())/">xx</a> /
					<a href="/DbHelper">DbHelper</a>
			</p>
		</div>
	</footer>
@*
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
*@
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
